= semantic_form_for @question do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title, :input_html => {"data-autofocus" => true}
    = f.input :description
    = f.input :remarks

    = f.commit_button

  %h2= t_model(PossibleAnswer)
  
  #answers.sortable
    = f.inputs :for => :possible_answers, :class => 'inputs possible_answer subbox' do |p|
      = p.semantic_fields_for :answer do |a|
        = a.input :title
        = a.input :description
        = a.input :remarks

      = p.input :score
      = p.input :position

    = f.buttons do
      = f.commit_button
