= semantic_form_for @question do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title, :input_html => {"data-autofocus" => true}
    = f.input :description
    = f.input :remarks

    = f.commit_button

  .contextual
    = contextual_link 'new', new_question_possible_answer_path(@question)
    
  %h2= t_model(PossibleAnswer)
  
  %ol#answers.sortable
    = f.fields_for :possible_answers do |p|
      %li.subbox.possible_answer
        = render 'possible_answers/form', :form => p

  = f.buttons do
    = f.commit_button
