= semantic_form_for @question do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title, :input_html => {"data-autofocus" => true}
    = f.input :description
    = f.input :remarks

  = f.buttons do
    = f.commit_button

  .contextual
    = contextual_link_to 'new', new_question_possible_answer_path(@question), :remote => true unless @question.new_record?
    
  %h2= t_model(PossibleAnswer)
  
  %ol#possible_answer_list.sortable
    = f.fields_for :possible_answers do |p|
      %li.subbox.destroyable[p.object]
        .destroy
          %label= t_action(:delete)
          = p.check_box :_destroy
          .action= image_tag('16x16/delete.png', :title => t_action(:delete))
        = render 'possible_answers/form_fields', :form => p

  = f.buttons do
    = f.commit_button
