= semantic_form_for @question do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title, :input_html => {"data-autofocus" => true}
    = f.input :description
    = f.input :remarks

    = f.commit_button

  %h2= t_model(PossibleAnswer)
  
  %ol#answers.sortable
    = f.fields_for :possible_answers do |p|
      %li.subbox.possible_answer
        .position= p.text_field :position
        .score= p.text_field :score
        = p.fields_for :answer do |a|
          %h3= a.text_field :title
          %p.description= a.text_area :description, :rows => 4

  = f.buttons do
    = f.commit_button
