.contextual
  = link_to t_action('edit'), edit_question_path(@question)
  = link_to t_action('index'), questions_path
%h1= t_title

%h2= @question.title

%div= @question.description
%div= @question.remarks

= index_contextual_for(PossibleAnswer)
%h2= t_title :index, PossibleAnswer

- @possible_answers = @question.possible_answers.paginate(:page => params[:page])
= render 'possible_answers/list'
