.contextual
  = show_contextual_for @question

%h1= t_title

#question.box
  %h2= @question.title

  %p.description<= @question.description
  %p.remarks<= @question.remarks

  %h2= t_model PossibleAnswer

  = semantic_form_for Response.new(:question => @question) do |f|
    = f.inputs do
      = f.input :question, :type => :hidden
      = f.input :answer, :collection => @question.possible_answers

