= semantic_form_for @e_mail do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :sender, :input_html => { :disabled => (current_user.role?('admin') ? false : true) }
    = f.input :users
    = f.input :title, :input_html => {"data-autofocus" => true}
    = f.input :body

  = f.buttons do
    = f.commit_button :send_e_mail