%h2
  = @e_mail.title

#e_mail.box
  - [:sender, :body].each do |attr|
    %p.body
      %label
        = t_attr attr
      = @e_mail.send(attr)

  %p.body
    %label
      = t_attr :users
    %ul#recipients.body
      - @e_mail.users.each do |user|
        %li
          = user

