= semantic_form_for @possible_answer do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :question, :input_html => {"data-autofocus" => true}
    = f.input :answer
    = f.input :score
    = f.input :position

  = f.buttons do
    = f.commit_button
