= semantic_form_for @possible_answer do |f|
  = f.inputs do
    = f.input :question
    = f.text_field :answer, 'data-autocomplete' => questions_url(:format => :json)

  = f.buttons do
    = f.commit_button
