.position= form.text_field :position
.score= form.text_field :score
= form.fields_for :answer do |a|
  %h3= a.text_field :title, 'data-autocomplete' => questions_url(:format => :json)
  %p.description= a.text_area :description, :rows => 4
