.contextual
  = icon_link_to 'only_solved', url_for(:state => 'solved') unless params[:state] == 'solved'
  = icon_link_to 'only_unsolved', url_for(:state => 'unsolved') if params[:state] == 'solved'
  = icon_link_to 'all', url_for(:state => 'all')
  = contextual_links_for


%h1= t_title

= render 'list'
