= f.semantic_errors
= f.inputs do
  = f.input :email
  = f.input :password, :hint => !f.object.new_record?
  = f.input :password_confirmation
  = f.input :current_password, :required => true unless can?(:manage, User)
  = f.input :roles, :required => true unless can?(:manage, User)

= f.buttons do
  = f.commit_button t('devise.update')
