= semantic_form_for resource do |f|
  = f.semantic_errors
  = f.input :date_of_birth, :as => :date_field
  = f.input :date_of_death, :as => :date_field
  = f.input :sex, :as => :select, :collection => Person.gender
  = f.inputs t('form.person.address') do
    = render 'vcards/form', :f => f

  = f.buttons do
    = f.commit_button
