%table.list#people_list
  %tr
    %th= t_attr :type
    %th= t_attr :name
    %th= t_attr :address
    %th= t_attr :user
    %th.action-links

  = render :collection => collection, :partial => 'person'
  
  %tr
    %th{:colspan => "5", :style => "text-align: right"}= will_paginate collection
