= contextual_links

%h1= @user

#user
  - @person = @user.person
  = render 'people/show'

  %h2= t('learnyt.tags')

  = @user.tag_list

  %h2= t_attr(:roles)

  %ul#roles
  - @user.roles.each do |role|
    %li
      = role.to_s
