= semantic_form_for @answer do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title, :input_html => {"data-autofocus" => true}
    = f.input :description
    = f.input :remarks
    = f.input :tag_list

  = f.buttons do
    = f.commit_button
