.contextual
  = link_to t_action('show'), @answer
  = link_to t_action('index'), answers_path
  = link_to t_action('delete'), @answer, :confirm => t_confirm_delete(@answer), :method => :delete
%h2= t_title

= render :partial => 'form'
