- @question ||= @response.question
= semantic_form_for [@question, @response] do |f|
  = f.semantic_errors

  = f.input :possible_answer_id, :as => :hidden

  = render 'question_form'

  = f.buttons do
    = f.commit_button
