= semantic_form_for @quiz_response do |f|
  = f.semantic_errors

  - for question in @quiz.questions
    - @quiz_response.responses.build(:question => question)
  = f.fields_for :responses do |r|
    - @question = r.object.question
    = render 'responses/question_form'

  = f.buttons do
    = f.commit_button
