%table.list#quiz_response_list
  %tr
    %th= t_attr :user if not current_user == @quiz_responses.first.user
    %th= t_attr :quiz
    %th= t_attr :score
    %th= t_attr :event_time
    %th.action-links

  = render @quiz_responses

  %tr
    %th{:colspan => "5", :style => "text-align: right"}= will_paginate @quiz_responses
