%tr[quiz_response]
  %td= quiz_response.quiz
  %td= link_to quiz_response, quiz_response, {'data-href-container' => 'tr'}
  %td= quiz_response.created_at
  %td
    = quiz_response.user.email if quiz_response.user

  = list_item_actions_for(quiz_response)
